#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Image_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2b48ffd6-bbf4-4d88-8568-883be92ac912 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}