#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 9px 9px 9px 9px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 45px;
  width: 33px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3d85cb52-17c0-460f-9d56-5d30e69a7282 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}