#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ca1ab4bb-81fb-49fc-9eca-bfc5a67ed393 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}